name: Go
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.26rc2
      - run: go get -t ./...
      - run: go build -v ./...
      - run: go test -v ./...
